.logoContainer {
  font-size: 1.7rem;
  align-items: end;
  cursor: pointer;
  display: flex;
  height: 3rem;
  width: 100%;
  gap: 0.5rem;
}

.logoText {
  color: var(--fontColor-dark);
  letter-spacing: -1px;
  font-weight: 500;
  align-items: end;
  display: flex;
  height: 100%;
}

.logo {
  justify-content: center;
  padding-bottom: 0.5rem;
  align-items: end;
  display: flex;
  height: 100%;
  width: 100%;
  gap: 0.3rem;
}

.logoContainer:hover .left {
  animation: bounceLeft 2s infinite linear;
}

.logoContainer:hover .center {
  animation: bounceCenter 2s infinite linear;
}

.logoContainer:hover .right {
  animation: bounceRight 2s infinite linear;
}

.logoBar {
  background-color: var(--background-dark);
  border-radius: 3px 3px 0 0;
  width: 20%;
}

.left {
  height: 100%;
}

.center {
  height: 80%;
}

.right {
  height: 90%;
}

@keyframes bounceLeft {
  0%,
  100% {
    height: 100%;
  }
  50% {
    height: 50%;
  }
}
@keyframes bounceCenter {
  0%,
  100% {
    height: 80%;
  }
  50% {
    height: 100%;
  }
}

@keyframes bounceRight {
  0%,
  100% {
    height: 90%;
  }
  50% {
    height: 40%;
  }
}
