.section {
  background-color: var(--background-dark);
  color: var(--fontColor-light);
  display: flex;
  height: 100%;
}

.left {
  box-shadow: var(--shadowbox-dimensional-dark-mode-links);
  background-color: var(--background-gray);
  border: var(--border-black-medium);
  border-radius: 8px;
  display: flex;
  padding: 1rem;
}

.right {
  box-shadow: var(--shadowbox-dimensional-dark-mode-links);
  background-color: var(--background-gray);
  border: var(--border-black-medium);
  border-radius: 8px;
}

.popup {
  box-shadow: var(--shadowbox-dimensional-dark-mode-links);
  background-color: var(--background-dark);
  border: var(--border-black-medium);
  object-fit: contain;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
  height: 200px;
  padding: 2rem;
  width: 350px;
}

.image {
  border: var(--border-black-medium);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.icons {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.icon {
  color: var(--background-light);
  transition: transform 0.4s;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
}

.icon:hover {
  transform: scale(1.1);
}

.about {
  text-wrap: wrap;
  display: block;
}

.span {
  font-family: var(--font-secondary);
  letter-spacing: -1px;
  font-weight: 500;
  cursor: pointer;
}

/* Phone */
@media (min-width: 0px) {
  .section {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    padding: 2rem;
    gap: 2rem;
  }

  .left {
    flex-direction: column;
    width: 100%;
  }

  .name {
    text-align: center;
    font-size: 5rem;
    width: 100%;
  }

  .right {
    margin-bottom: 5em;
    padding: 2rem;
  }

  .about {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  .icons {
    justify-content: center;
  }

  .span {
    padding: 0.2rem 1rem;
    margin: 0 1rem;
  }
}

/* Tablet */
@media (min-width: 576px) {
  .section {
    justify-content: flex-start;
  }

  .left {
    gap: 1rem;
  }

  .name {
    margin-top: 0rem;
  }

  .about {
    font-size: 1.9rem;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .section {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0;
    gap: 2rem;
  }

  .name {
    text-align: left;
    font-size: 6rem;
    line-height: 0;
  }

  .left {
    flex-direction: column;
    display: flex;
    width: 40%;
  }

  .right {
    width: 40%;
    margin: 0;
  }

  .about {
    font-size: 1.8rem;
    padding: 0.5rem;
  }

  .icons {
    justify-content: end;
  }

  .span {
    padding: 0.1rem 1rem;
    font-size: 1.9rem;
    margin: 0;
  }
}
