@media (min-width: 0px) {
  .top {
    flex-direction: column;
    display: flex;
    gap: 2rem;
  }

  .container {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .chips {
    align-items: center;
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .closeButton {
    transition: opacity 0.2s;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .creator {
    display: flex;
  }
}
