.candidates-section {
  width: 100%;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.candidates-container{
  display: flex;
  gap: 2rem;
}