.button {
  background-color: var(--background-dark);
  border: 1px solid var(--background-dark);
  font-family: var(--font-main);
  color: var(--fontColor-light);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 3.5rem;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.button:hover {
  opacity: 0.9;
}

.buttonLogin {
  background-color: var(--fonColor-Main);
  border: 1px solid var(--fonColor-Main);
}

.text {
  font-size: var(--fontSize-login-text);
  justify-content: center;
  align-items: center;
  display: flex;
}
