@import "../../css/utils.module.css";

@media (min-width: 0px) {
  .section {
  }

  .container {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    height: 300px;
    padding: 1rem;
    width: 100%;
  }

  .card {
    box-shadow: var(--shadowbox-dimensional);
    border: var(--border-black-medium);
    color: var(--background-gray);
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 1rem;
    letter-spacing: -1px;
    transition: transform  0.3s, color 0.5s;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    max-height: 260px;
    max-width: 184px;
    display: flex;
    height: 90%;
    gap: 0.5rem;
    width: 90%;
  }

  .card:hover {
    color: var(--background-dark);
    transform: rotate(2deg);
    cursor: pointer;
  }

  .top {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 20%;
  }

  .avatar {
    background-color: chocolate;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
  }

  .title {
    text-overflow: ellipsis;
    letter-spacing: -1px;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 400;
    overflow: hidden;
    display: block;
    width: 100px;
  }

  .options {
    transition: transform 0.5s;
    font-size: 2.5rem;
  }

  .options:hover {
    transform: scale(1.1);
  }

  .middle {
    background-color: rgb(255, 231, 135);
    height: 60%;
    width: 100%;
  }

  .bottom {
    background-color: rgb(245, 197, 174);
    height: 20%;
    width: 100%;
  }
}
