@media (min-width: 0px) {
  .section {
    background-color: darkgray;
    height: 100%;
    width: 100%;
  }
}

/* .section {
  height: var(--height-section);
  background-color: darkgray;
  width: 100%;
} */
