@media (min-width: 0px) {
  .progress {
    background-color: var(--background-hover);
    border: var(--border-black-medium);
    -webkit-appearance: none;
    border-radius: 10px;
    appearance: none;
    overflow: hidden;
    height: 8px;
    width: 100%;
  }

  .progress::-webkit-progress-bar {
    background-color: var(--background-hover);
    border-radius: 10px;
  }

  .progress::-webkit-progress-value {
    border-right: 2px solid var(--background-dark);
    background: var(--background-green);
    border-radius: 10px 0 0 10px;
  }

  .progress::-moz-progress-bar {
    background: var(--background-green);
    border-radius: 10px;
  }

  .progress::-ms-fill {
    background: var(--background-green);
    border-radius: 10px;
  }
}
