.section {
  background-color: var(--background-dark);
  justify-content: center;
  align-items: center;
  height: 100dvh;
  display: flex;
  width: 100%;
  gap: 2rem;
}

.intro {
  background-color: rgb(207, 207, 207);
  height: var(--height-login-form);
  width: 35rem;
}
