@media (min-width: 0px) {
  .middle {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 60%;
    width: 100%;
  }

  .results {
    justify-content: space-between;
    font-size: 1rem;
    display: flex;
    width: 80%;
  }

  .progressContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 0.8rem;
    width: 80%;
  }
}
