.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  overflow-y: scroll;
  display: grid;
  height: 100vh;
  width: 100%;
}

.scroll {
  scrollbar-gutter: stable;
  overflow-x: auto;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: var(--background-gray);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--background-green);
  max-height: 40px;
  border-radius: 50px;
  opacity: 0.5;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}
