:root {
  /* Font */
  --font-logo: "Ubuntu", sans-serif;
  --font-main: "Poppins", sans-serif;

  /* Height */
  --height-login-form: 55rem;

  /* App background colors */
  --background-candidate-cards: #ef767a;
  --background-secondary: #f5f5f5;
  --background-error: #ef767a;
  --background-white: #ffffff;
  --background-dark: #191919;
  --background-light: #eee;

  /* Filter */
  --filter-like-icon: invert(58%) sepia(52%) saturate(2698%) hue-rotate(315deg) brightness(103%) contrast(87%);

  /* App font color */
  --fontColor-dark-secondary: rgb(94, 94, 94);
  --fontColor-light: #ffffff;
  --fontColor-dark: #191919;
  --fonColor-Main: #06d6a0;

  /* App font size */
  /* Login */
  --fontSize-login-error: 1.3rem;
  --fontSize-login-text: 1.4rem;
  --fontSize-login-title: 1.7rem;
  /*  */
  --fontSize-candidate-card-name: 2rem;
  --fontSize-footer-copyrights: 1.3rem;
  --fontSize-footer-listItem: 1.5rem;
  --fontSize-admin-user-tab: 1.2rem;
  --fontSize-footer-address: 1.2rem;
  --fontSize-footer-slogan: 1.3rem;
  --fontSize-navbar-links: 1.5rem;
  --fontSize-admin-title: 2rem;
}
