:root {
  /* Font */
  --font-secondary: "Parkinsans", sans-serif;
  --font-main: "Poppins", sans-serif;

  /* Height */
  --height-section: calc(100vh - var(--height-navbar) - var(--height-navbar));
  --height-login-form: 55rem;
  --height-navbar: 6rem;

  /* App background colors */
  --background-candidate-cards: #ef767a;
  --background-secondary: #e2f3e9;
  --background-secondary-dark-mode: #f1f9f4;
  --background-error: #ef767a;
  --background-light: #ffffff;
  --background-dark: rgb(25, 25, 25);
  --background-green: #06d6a0;
  --background-pink: #ffd6e4;
  --background-gray: rgba(19, 14, 14, 0.5);
  --background-hover: rgba(19, 14, 14, 0.2);

  /* Filter */
  --filter-like-icon: invert(58%) sepia(52%) saturate(2698%) hue-rotate(315deg) brightness(103%) contrast(87%);

  /* Border */
  --border-black-medium: 1.5px solid var(--background-dark);
  --border-light-medium: 1.5px solid var(--background-light);

  /* Shadow box */
  --shadowbox-dimensional: var(--background-green) 4px 4px 0 0, var(--background-dark) 4px 4px 0 1px;
  --shadowbox-dimensional-dark-mode: var(--background-pink) 4px 4px 0 0, var(--background-light) 4px 4px 0 1px;
  --shadowbox-dimensional-dark-mode-links: var(--background-light) 4px 4px 0 0, var(--background-light) 4px 4px 0 1px,
    var(--background-light) 0px -0.5px 0 0.4px;
  --shadowbox-dimensional-clicked: var(--background-light) 4px 4px 0 0, var(--background-dark) 4px 4px 0 1px;
  --shadowbox-dimensional-clicked-dark-mode: var(--background-pink) 4px 4px 0 0, var(--background-dark) 4px 4px 0 1px;

  /* App font color */
  --fontColor-dark-secondary: rgb(94, 94, 94);
  --fontColor-light: #ffffff;
  --fontColor-dark: #191919;

  /* App font size */
  /* Login */
  --fontSize-login-error: 1.3rem;
  --fontSize-login-title: 1.7rem;
  --fontSize-login-text: 1.4rem;
  /*  */
  --fontSize-candidate-card-name: 2rem;
  --fontSize-footer-copyrights: 1.3rem;
  --fontSize-footer-listItem: 1.5rem;
  --fontSize-admin-user-tab: 1.2rem;
  --fontSize-footer-address: 1.2rem;
  --fontSize-navbar-links: 1.4rem;
  --fontSize-admin-title: 2rem;
}
