.chip {
  box-shadow: var(--shadowbox-dimensional-card-dark-mode);
  border: 1px solid var(--background-light);
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  padding: 0 1.2rem;
  line-height: 1.4;
  font-size: 1rem;
  display: flex;
  width: 100%;
}

.visibility {
  background-color: var(--background-chip-1-dark);
}

.status {
  background-color: var(--background-chip-2-dark);
}
