/* TODO:Create a variable */
.chip {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  background-color: var(--background-hashtag);
  justify-content: center;
  padding: 0.2rem 0.6rem;
  align-items: center;
  border-radius: 4px;
  position: relative;
  line-height: 1.4;
  font-size: 1rem;
  max-width: 100%;
  min-width: 4rem;
  display: flex;
}

.visibility {
  background-color: var(--background-chip-1);
}

.status {
  background-color: var(--background-chip-2);
}

.createdAt {
  background-color: var(--background-chip-2);
}
