.section {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.card {
  background-color: var(--background-light);
  box-shadow: var(--shadowbox-dimensional);
  border: var(--border-black-medium);
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem 2rem;
  height: 45rem;
  display: flex;
  width: 30rem;
  gap: 1rem;
}

.closeContainer {
  justify-content: end;
  display: flex;
}

.closeButton {
  transition: opacity 0.2s;
  font-size: 2.5rem;
  cursor: pointer;
}

.title {
  text-wrap-style: pretty;
  font-size: 1.6rem;
  width: 100%;
}

.votes {
  justify-content: space-between;
  display: flex;
}
