.candidate-card {
  width: 100%;
  height: 100%;
  background-color: rgb(169, 250, 142);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.candidate-card:hover {
  transform: scale(1.1);
  transition: 1s;
}

.candidate-counter {
  width: 4rem;
  height: 4rem;
  background-color: burlywood;
  position: absolute;
  top: 0;
  left: 2rem;
  border-radius: 50%;
}

.candidate-image-container {
  width: 60%;
  height: 70%;
  border-radius: 10px;
  padding-top: 1rem;
}

.candidate-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.candidate-name {
  font-size: 1.4rem;
  margin: 1rem 0;
}

.vote-display-button {
  width: 12rem;
  height: 2.8rem;
  display: block;
  margin: 1.5rem auto;
}
