@media (min-width: 0px) {
  .bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 20%;
    width: 100%;
  }

  .commentContainer {
    align-items: center;
    font-size: 1.6rem;
    display: flex;
    gap: 0.5rem;
  }

  .commentCount {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .chips {
    display: flex;
    gap: 0.4rem;
  }
}
